html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*.bg-imagen::before, .bg-cuadrado::before, .bg-condiciones::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("");
    opacity: .4;
}*/

.bg-cuadrado {
    background-color: #F8AD57; 
    
}

.bg-inicio {
    background-image: url("../../imagenes/fondo.jpg");
    background-size: cover;
    
}

.transparencia {
    background-color: rgba(51, 51, 51, 0.438);
}

.bg-transparente {
    background-color: rgb(238, 237, 237, 0.30);
}

.bg-condiciones {
    background-color: whitesmoke !important;
}

.bordes {
    border-radius: 0.2rem;
}

.thumbnail {
    background-color: transparent !important;
    border: none !important;
}

.vl {
    border-left: 3px solid #FA9017;
    border-radius: 0.2rem;
    height: 250px;
    margin-top: 20px;

  }


.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-baseline {
    flex-wrap: wrap !important;
    align-items: baseline !important;
    align-content: center !important;
    justify-content: space-around !important;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #FA9017 !important;
    background-color: #080808 !important;
  }

.navbar-inverse .navbar-nav .open > li > a{
    color: #fff !important;
  }
  
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FA9017;
  background-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #FA9017;
}


.redes, .opc {
    text-transform: uppercase !important;
    font-weight: bolder !important; 
}

.redes:hover {
    color: #FA9017 !important;
}

.site-about, .site-contact, .site-entradas, .site-fests, .site-index {
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;
}

.numeracion {
    font-family: Anton;
    font-size: 40px!important;
    line-height: 40px;
    font-weight: bold;
}

.btn-warning {
    background-color: #FA9017 !important;
    border-color: #FA9017 !important;
}

.sl {
    background-color: transparent !important;
}

.sl:hover {
    background-color: #FA9017 !important;
}

a {
    color: #333333;
}
a:hover {
    color: #FA9017;
    text-decoration: none;
    /*#ffda3c*/
}

.encuadre {
    width: 100% !important;
    top: 70px;
    position: absolute;
    z-index: 200;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.breadcrumb {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.mt {
    margin-top: 15px;
}

.panel-heading {
    background-color: #FA9017 !important;
    color: #fff !important;
}

/*img.fondo{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
    z-index: -200;
    
}*/

.cap {
    margin-left: 10px;
}

.entrada {
    border-color: #FA9017;
    border-style: solid;
}

@media only screen and (max-width: 980px) {
    .vl {
      display: none;
    }
    
    .cap {
        margin-left: unset !important;
        margin-top: 5px !important;
    }

    .d-flex-reverse {
        flex-direction: column-reverse;
    }

    .container-card {
        flex-direction: column;
    }

    .flex-baseline {
        display: block !important;
    }
    

    
  }

  @media screen and (min-width: 768px) {
    
    .carousel-caption {
      right: 20%;
      left: 20%;
      padding-bottom: 0px !important;
    }
    
  }

  .carousel-caption {
    padding: 0px !important;
    position: unset !important;
    text-shadow: none !important;
    color: #333333 !important;
    
  }

  .carousel-inner > .item > img {
      height: 300px !important;
      
  }

  .input-group .form-control:not(:first-child):not(:last-child) {
      border-radius: 4px !important;
  }

.container-card{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #FA9017;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #FA9017;
    transform: translateY(0);
    filter: none;
}

.container .card .face.face1 .content{
    transition: 0.5s;
}

.container .card .face.face2 .content{
    color: #fff;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width:  100%;
    filter: hue-rotate(60deg) brightness(500%);
}

.container .card .face.face1 .content:hover img{
    filter: none;
    transition: 0.5s;
}



.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding: 5px;
    border: 1.5px solid #FA9017;
    border-radius: 4px;
    background-color: transparent !important;
}

.container .card .face.face2 .content a:hover{
    background-color: #FA9017 !important;
    border-color: #222222 !important;
}

.bordes {
    border: 2px;
    border-style: solid;
    border-color: #FA9017;

}







